# Ignore the entire sfr-mistralDB folder
sfr-mistralDB/
all-MiniLM-L6-v2DB/
llm-embedder/
gpt4allDB/
preciseSplitDB/
nonPrecise/

# Ignore everything in any .ragatouille directory, regardless of its location
**/.ragatouille/

# It seems you might also want to ignore .git_ignore files that might be mistakenly created
.git_ignore

# Ignore Jupyter notebook checkpoints universally
.ipynb_checkpoints/

# You can add other patterns here based on the rest of your project's needs
# Ignore the entire sfr-mistralDB folder
sfr-mistralDB/*
all-MiniLM-L6-v2DB/*
llm-embedder/*
preciseSplitDB/*
nonPrecise/*
gpt4allDB/*

sfr-embedder/*
__pycache__/ReRankRetriever.cpython-312.pyc
llm-embedder-20240316T011826Z-001.zip
unlimiformer/*
FlagEmbed/*
MistralEmbed/*
sfr-mistralDB.zip
unlimiformer/*
# If "ratatouille colbert" is a specific file, include it directly
# Adjust the path as necessary if it's located within a folder
# ratatouille colbert

touilleIndex/*

touilleIndex.zip

llama-2-7b-chat.Q6_K.gguf
# If "ratatouille colbert" is a folder, ignore the entire folder
# ratatouille colbert/

